@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
img {
	border: none;
}
ol,
ul,
li {
	list-style: none;
}
input,
textarea,
select,
button {
	font-family: 'microsoft yahei', Verdana, Helvetica, Arial, sans-serif;
	outline: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
}
table {
	border-collapse: collapse;
}
iframe {
	border: none;
}